/* For Class 4 */
/* For Class 4 */
/* For Class 4 */
/* For Class 4 */

/* 
body{
text-align: center;
}

div{
    height: 100px;
    width: 500px;
    border: 2px solid #000;
    margin: auto;
} */


/* For Class 5 */
/* For Class 5 */
/* For Class 5 */

.box{
    height: 100px;
    width: 100px;
    background-color: #0ff;
}