/* #box1{
    height: 100px;
    width: 200px;
    background-color: green;
    font-size: 10px;

}

#box2{
    height: 50px;
    height: 50vh;
    width: 33%;
    background-color: yellow;
    margin-left: 10%;
    text-align: center;
    font-size: 2em;
    font-size: 2rem;
} */

/* Position */
/* Position */
/* Position */

/* body{
     background: url(./programmer.jpg);
    background-size: cover;
} */


div{
    height: 100px;
    width: 100px;
    background-color: #0ff;
    border: 2px solid black;
    display: inline-block;
}


#box1{ 
    position: static;
    top: 20px;
    left: 10px;
    background-color: rgb(215, 241, 11);
}

#box2{
    position: relative;
    top: 20px;
    left: 10px;
    background-color: blue;
}

#box3{
    position: absolute;
    top: 20px;
    /* left: 10px; */
    background-color: blueviolet;
}

#box4{
    position: fixed;
    top: 20px;
    right: 20px;
    /* left: 10px; */
    background-color: blueviolet;
}

#box5{
    position: sticky;
    left: 500px;
    top: 20px;
    /* right: 200px; */
    /* left: 10px; */
    background-color: rgb(239, 4, 220);
}

.index{
    background: url(./programmer.jpg);
    background-size: cover;
}

#indx1{
    /* position: absolute; */
    z-index: 0;
    left: 200px;
}
#indx2{
    z-index: 1;
}
#indx3{
    z-index: 2;
}
#indx4{
    z-index: 3;
}
#indx5{
    z-index: 4;
}